<div class="page-albums wrapper">
  <p>Hi <%= @fan.provider_identity %>,</p>

  <p>Your Spotify account has unfortunately been disconnected in Support Act. This is very likely due to Spotify's recent policy change, where third-party apps can only be authorised for up to six months at a time.</p>

  <p>If you wish to reconnect your account, please do log back into Support Act and use the button on <a href="https://supportact.app/my/account">your account page</a>.</p>

  <p>Take care,</p>

  <p><a href="https://supportact.app">Support Act</a></p>
</div>
