<div class="image">
  <% if album.image %>
    <%= image_tag album.image %>
  <% end %>
</div>

<div class="info">
  <p class="album-name"><%= album.name %></p>
  <p class="album-artist"><%= album.artist.name %></p>

  <p class="album-purchase">
    <% if purchased %>
      <span class="button small tertiary">Purchased</span>
    <% else %>
      <span class="button small">Mark as Purchased</span>
    <% end %>
  </p>
</div>
