<div class="image">
  <% if album.image %>
    <%= image_tag album.image %>
  <% end %>
</div>

<div class="info">
  <p class="album-name"><%= album.name %></p>
  <p class="album-artist"><%= album.artist.name %></p>

  <p class="album-purchase">
    <span class="button small tertiary unpurchase">Purchased</span>
    <span class="button small purchase">Mark as Purchased</span>
  </p>
</div>
