// Colours
////////

$colour_primary: hsl(168, 65, 48);
$colour_secondary: #0cf;
$colour_notice: #cfc;
$colour_alert: #fcc;
$colour_subtle: #ccc;
$colour_text: hsl(0, 0, 20);
$colour_black: hsl(0, 13, 9);
$colour_link: hsl(302, 71, 37);
$colour_light_subtle: hsl(238, 6, 97);

// Font
////////

$font_body: "Rubik", "Helvetica", "Arial", sans-serif;
$font_size_base: 19px;
$font_leading_base: 1.5;
$font_leading_title: 1.25;

$font_weight_normal: 400;
$font_weight_bold: 500;
$font_weight_boldest: 600;

// Spacing
////////

$spacing: 20px;
$border_radius: 30px;
