<p>Welcome <%= @email %>,</p>

<p>You've just signed up on <a href="https://supportact.app">Support Act</a> to receive suggestions of albums to buy, based on your streaming music habits.</p>

<p>Before you can get started, though, we'll need you to confirm your email address by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks!</p>

<p><a href="https://supportact.app">Support Act</a></p>
