<p>Hello <%= @resource.email %>,</p>

<p>Someone has requested a link to change your password - we're hoping it was you, and that it's just that you've forgotten what your password was. To reset it, use the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>

<p>Thanks!</p>

<p><a href="https://supportact.app">Support Act</a></p>
